@font-face {
    font-family: Denne Etude;
    src: url(DenneEtude.ttf);
}

@font-face {
    font-family: Merge One;
    src: url(MergeOne-Regular.ttf);
}

body, html {
    height: 100%;
    background-color: #FEF5E9;
    font-family: Merge One;
}

section {
    margin-left: 20em;
}

h1, h2, h3 {
    font-family: Denne etude;
    color: #16AC9C;
}

h2 {
    font-size: 1.5em;
}

nav a svg {
    width: 7em;
    padding: 0 1em 0 1em;
}

nav a {
    font-family: Denne etude;
    font-size: 2em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    display: block;
    text-decoration: none;
    color: #FEF5E9;
}

nav a:last-child {
    color: #FEF5E9;
    position: absolute;
    bottom: 0;
    left: 2.5em;   
}

nav {
    float: left;
    background-color: #16AC9C;
    height: 100%;
    position: fixed;
}

.btn, .dropdown {
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    border-radius: 0.5em;
    color: #FEF5E9;
    background-color: #16AC9C;
    padding: 0.5em 1em 0.5em 1em;
    margin: 2em 1em 1em 2em;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.dropdown {
    background-color: #FEF5E9;
    color: #16AC9C;
    border: 2px solid #16AC9C;
    padding: 0.4em 0.4em 0.4em 0.4em;
}

.sorteer {
    float: right;
    margin-right: 10%;
}

.voegtoe2 {
    margin-top: 0em;
}

.vak img {
    width: 10em;
    overflow: hidden;
    background-color: #16AC9C;
}

.vak div {
    display: inline-block;
    width: 12em;
    text-align: center;
    padding: 1em 0em 0em 0em;
    margin: 2em;
    color: #16AC9C;
    border: 3px solid #16AC9C;
}

.vak div a {
    text-decoration: none;
    color: #16AC9C;
}

.leerlingen {
    border: 2px solid #16AC9C;
    border-radius: 0.5em;
    padding: 1em;
    display: block;
    margin: 0 auto 5em auto;
    width: 80%;
}

.leerlingen table img {
    width: 3em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #16AC9C;
}

table tr:last-child {
    border-bottom: none;
}

.tda {
    margin: 2em 1em 2em 1em;
}

@media (max-width:800px) {
    section {
        margin-left: 0em;
        padding-top: 5em;
    }

    nav {
        height: 5em;
        width: 100%;
        display: flex;
        align-items: right;
        justify-content: right;
    }

    nav a svg {
        width: 4em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    nav a {
        font-size: 1.5em;
        text-align: center;
        padding: 1em 0.5em 1em 0.5em;
    }

    nav a:first-child {
        padding: 0.5em 0.5em 0em 0.5em;
    }

    nav a:last-child {
        position: relative;
        bottom: 0;
        left: 0;   
    }
}

@media (max-width:500px) {
    .vak div {
        width: 80%;
    }
}