@import 'colors';

@font-face {
  font-family: Pacifico;
  src: url(../lettertypes/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../lettertypes/Montserrat-Regular.ttf);
}

body, html {
  height: 100%;
  background-color: $background;
  font-family: Montserrat;
}

section {
  margin-left: 20em;
}

h1, h2, h3 {
  font-family: Pacifico;
  letter-spacing: 2px;
  color: $green;
}

h2 {
  font-size: 1.5em;
}

nav a:first-child svg {
  width: 7em;
  padding: 0 1em 0 1em;
}

nav a:last-child svg {
  width: 25px;
  padding-right: 0.5em;
}

nav a {
  font-family: Pacifico;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  display: block;
  text-decoration: none;
  color: $background;
}

nav a:last-child {
  color: $background;
  position: absolute;
  bottom: 0;
  left: 2.5em;
  display: flex;
  align-items: center;
}

nav {
  float: left;
  background-color: $green;
  height: 100%;
  position: fixed;
}

.btn, .dropdown, .btn_no_style {
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  border-radius: 4px;
  color: $green;
  background: $background;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0.5em 1em 0.5em 1em;
  margin: 2em 1em 1em 0;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 3px 3px rgba(128, 128, 128, 0.2);
}

.dropdown, .btn_no_style {
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-shadow: none;
  color: $green;
  padding: 0.5em 1em 0.5em 1em;
}

.btn_with_svg {
  display: flex;
  width: max-content;
  align-items: center;
}

.btn_with_svg svg, .btn_no_style svg {
  margin-right: 0.5em;
  width: 15px;
}

.btn_no_style.arrow_back {
  margin-top: 0;
  padding-top: 1em;
}

.filters {
  display: flex;
  align-items: flex-end;
}

.voegtoe1, .voegtoe2 {
  display: flex;
  width: max-content;
  align-items: center;
}

.voegtoe1 svg, .voegtoe2 svg {
  width: 15px;
  margin-right: 0.5em;
}

.voegtoe1:hover svg {
  animation: rotate 0.5s ease-in-out; 
}

.voegtoe2:hover svg {
  animation: rotate 0.5s ease-in-out; 
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.vak {
  width: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 25px;
}

.vak div h2 {
  position: relative;
}

.vak div:hover h2 {
  background-color: rgba(22, 172, 157, 0.5);
  padding-top: 3.5em;
  padding-bottom: 3.7em;
  margin-top: -8.55em;
  transition: 0.5s;
}

.vak img {
  width: 100%;
  height: 10em;
  overflow: hidden;
}

.vak div {
  display: inline-block;
  width: 12em;
  text-align: center;
  margin-top: 1em;
  color: $green;
}

.vak div a, .vak div a h2 {
  text-decoration: none;
}

.vak div a h2 {
  font-size: 1.2em;
  color: $background;
  background-color: $green;
  margin: -2.4em 0 0 0;
  padding: 0.6em 0 0.5em 0;
}

.leerlingen {
  border-radius: 4px;
  padding: 1em;
  display: block;
  margin: 0 auto 5em auto;
  width: 80%;
}

.leerlingen table img {
  width: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.leerlingen table tr:nth-child(odd) {
  background-color: $formbgc;
}

.leerlingen table tr td:nth-child(4) {
  display: flex;
  align-items: center;
  padding-top: 2em;
}

.leerlingen table tr td svg {
  width: 25px;
  float: right;
  padding-right: 1em;
}

.leerlingen table tr td:first-child {
  padding-left: 1em;
}

.leerlingen table tr td:last-child p {
  visibility: hidden;
  position: absolute;
  background-color: $formdisabled;
  width: max-content;
  right: 0;
  padding: 1em;
  margin: 3em 8% 0 0;
  box-shadow: 0px 3px 6px #00000029;
}

.leerlingen table tr td:last-child:hover p {
  visibility: visible;
}

.leerlingen table tr td:last-child p:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid $formdisabled;
  border-left: 12px solid transparent;
  border-bottom: 12px solid $formdisabled;
  border-top: 20px solid transparent;
  right: 32px;
  top: -14px;
}

.tda {
  background-color: $green;
  box-shadow: none;
  color: $background;
  margin: 2em 1em 2em 1em;
}

.tda:hover {
  background-color: #59b8af;
}

@media (max-width: 970px) {
  .vak {
    grid-template-columns: 45% 45%;
  }
}

@media (max-width: 800px) {
  .vak {
    width: 100%;
    display: inline-block;
  }
  .vak div {
    margin-right: 1em;
  }
  section {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 5em;
  }
  nav {
    height: 5em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  nav a svg {
    width: 4em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  nav a {
    font-size: 1.5em;
    text-align: center;
    padding: 1em 0.5em 1em 0.5em;
  }
  nav a:first-child {
    padding: 0.5em 0.5em 0em 0.5em;
  }
  nav a:last-child {
    position: relative;
    bottom: 0;
    left: 0;
  }
}

@media (max-width:500px) {
  .vak div {
    width: 100%;
    margin: 1em auto;
    display: block;
  }
  .leerlingen {
    width: 90%;
  }
}