@import 'colors';

table th {
  text-align: left;
  font-size: 1.3em;
  padding: 0 0.5em 1.5em 0.5em;
}

table tr {
  background-color: transparent !important;
}

table th:first-child a svg {
  text-decoration: none;
  transform: rotate(0deg);
  width: 15px;
  fill: black;
}

