@font-face {
    font-family: Denne Etude;
    src: url(DenneEtude.ttf);
}

@font-face {
    font-family: Merge One;
    src: url(MergeOne-Regular.ttf);
}

body, html {
    background-color: #FEF5E9;
    font-family: Merge One, Arial, Helvetica, sans-serif;
}

div {
    display: block;
    margin: 0 auto;
    width: 20%;
}

img {
    display: block;
    margin: 5em auto 0 auto;
    width: 15em;
}

h1 {
    font-family: Denne etude;
    font-size: 2em;
    color: #40BCCF;
    text-align: center;
}

form label {
    display: block;
    margin-top: 1em;
}

form input {
    width: 100%;
    margin-top: 1em;
    background: #FEF5E9;
    border: 2px solid #16AC9C;
    border-radius: 0.5em;
    padding: 0.5em;
}

form div {
    width: 100%;
}

form button {
    background: #16AC9C;
    border: none;
    border-radius: 0.5em;
    color: #FEF5E9;
    padding: 0.5em 2em 0.5em 2em;
    display: block;
    margin: 2.5em auto;
}

@media (max-width:1000px) {
    div {
        width: 100%;
    }

    form div {
        width: 50%;
    }
}

@media (max-width:500px) {
    div {
        width: 100%;
    }

    form div {
        width: 80%;
    }
}