@import 'colors';

table {
  display: block;
  margin: 0 auto 2em auto;
  width: 80%;
}

table tr {
  border: none;
  padding: 1em 0 1em 0;
}

table tr:nth-child(5) td {
  font-size: 1.3em;
}

table tr td:nth-child(2) {
  padding-left: 2em;
}

td {
  padding: 0.5em 0 0.5em 0;
}

table:nth-child(3) tr:first-child, table:nth-child(4) tr:first-child {
  font-weight: bold;
}

table:nth-child(3), table:nth-child(4) {
  display: inline;
  margin-left: 10%;
}