@import 'colors';

section {
  margin-left: 20em;
}

table {
  margin: 2em auto 0 auto;
  width: 50%;
}

table tr {
  border-bottom: none;
}

.btn {
  margin: 0.5em 0 0.5em 0;
  font-size: 1em;
}

td {
  padding: 1em 0 1em 0;
}

input, select {
  border: 1px solid #16AC9C;
  border-radius: 0.5em;
  background-color: #FEF5E9;
  padding: 0.5em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  float: right;
}

.beschrijving {
  width: 100%;
  float: none;
  padding: 0.5em 0 0.5em 0;
}

@media (max-width: 1100px) {
  table {
    width: 80%;
  }
}

@media (max-width: 800px) {
  section {
    margin-left: 0em;
  }
  table {
    width: 80%;
  }
}

@media (max-width: 500px) {
  table {
    width: 90%;
  }
}