@import 'colors';

section {
  margin-left: 20em;
}

h2 {
  width: 80%;
  margin-left: 10%;
}

form {
  width: 80%;
  margin: 0 auto;
  display: block;
} 

form div {
  background-color: $formbgc;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5em;
  margin: 0 20px 20px 0;
}

form div:nth-child(1), form div:nth-child(2) {
  background-color: $formdisabled;
}

form div:nth-child(1), form div:nth-child(2), form div:nth-child(3), form div:nth-child(4) {
  width: calc(50% - 20px - 2em);
}

form div:nth-child(5), form div:nth-child(6) {
  width: calc(100% - 30px - 2em);
}

form div p:first-child, form div label {
  color: $formc;
  font-size: 13px;
}

form div input {
  display: block;
  margin-top: 0.5em;
  border: none;
  background-color: transparent;
  width: 100%;
  margin-bottom: 0.5em;
}

form .btn {
  background-color: $background;
  box-shadow: none;
}

form > input:last-child {
  background-color: $green;
  color: white;
  float: right;
  margin-right: 3.2em;
}

#vakform div:nth-child(2) {
  background-color: $formbgc;
}

#vakform div:nth-child(3) {
  width: calc(100% - 30px - 2em);
}

form .dropdown {
  margin: -0.3em 0 0.5em 0;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1100px) {
  table {
    width: 80%;
  }
}

@media (max-width: 800px) {
  section {
    margin-left: 0em;
  }
}